.gridWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #1a1a1a;
    border-radius: 0.5rem;
    padding: 1rem;
}

.title {
    display: flex;
    width: 100%;
}

.radioCard {
    transition: 300ms;
    padding: 1rem;
    cursor: pointer;
}

.radioCard:hover {
    transform: scale(1.25);
    cursor: pointer;
}


.radioCard input {
    display: none;
    visibility: hidden;
}

.cardContentWrapper {
    transition: 300ms;
}

.radioCard input:checked~.cardContentWrapper {
    color: #61dafb;
    transform: scale(1.25);
}